<div id="wrapper" class="row">
  <div id="articles" class="col">
     {{#each dbArticles}} 
        <p data-id={{this._id}}> {{this.title}}</p>
        <a href={{this.link}}>{{this.link}}</a>
      {{/each}}
  </div>
  <div id="notes" class="col"></div>
</div>

